.ListLabel {
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
  margin: 7px 30px;
  text-align: center;
  padding-bottom: 5px;
}

@media (min-width: 500px) {
  .ListLabel {
    font-size: 1rem;
  }
}
