._3Ou2_z6Y_ivToG8hdK9GMk {
  background: black;
  color: white;
  padding: 40px;
}

._1q3SpmQGCXJ_u4WobxRVCI {
  font-size: 3.2rem;
  font-weight: 300;
}

._22WeXqrC7hA9LnwAH4KQG2 {
  color: gainsboro;
}

._21KTUTRlXnzh-45YND-iBx {
  max-width: 300px;
  padding-left: 10px;
  background: white;
  opacity: 0.9;
}
._2g3DJMIPVrQkwvKIVc9tHX {
  font-size: 0.6rem;
}
._3WLxkUUbJudYVZmnozA1mX {
  font-size: 0.8rem;
}
@media (min-width: 500px) {
  ._21KTUTRlXnzh-45YND-iBx {
    background: white;
    opacity: 0.9;
  }
  ._2g3DJMIPVrQkwvKIVc9tHX {
    font-size: 0.9rem;
  }
  ._3WLxkUUbJudYVZmnozA1mX {
    font-size: 1rem;
  }
}

._15c4eVZ2WV4n96OUrVOhdX {
  font-size: 0.7rem;
  margin: 20px auto 10px;
  padding-right: 20px;
  width: 95%;
}
@media (min-width: 500px) {
  ._15c4eVZ2WV4n96OUrVOhdX {
    font-size: 1rem;
    margin: 20px auto 10px;
    padding-right: 20px;
    width: 50%;
  }
}

._3v4Ne-sIOrpbFTnxlSbCZO {
  padding: 0 20px;
  font-size: 0.8rem;
  color: gray;
  font-style: italic;
  text-align: center;
}
@media (min-width: 600px) {
  ._3v4Ne-sIOrpbFTnxlSbCZO {
    font-size: 1rem;
  }
}

._1xvQ9cXlHzmxWDndU9OUGF {
  display: flex;
}
.ce3Mto4deM5PQl0OQhlGK {
  font-size: 0.8rem;
  margin: 15px auto 5px auto;
  font-weight: bold;
  text-align: center;
}

._3W2MJIYcfzFkh-LEs71vu8 {
  margin: 10px auto 0px auto;
  flex: 1;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (min-width: 500px) {
  .ce3Mto4deM5PQl0OQhlGK {
    font-size: 1rem;
  }
  ._3W2MJIYcfzFkh-LEs71vu8 {
    font-size: 1rem;
  }
}

._2_S2M8XP6GaHKycvageQyj {
  display: flex;
}

.Kp7i2CPPJilK9jzhduhbq {
  /* margin: 15px auto; */
  padding: 10px 0px;
  font-size: 0.8rem;
  text-align: center;
}

@media (min-width: 500px) {
  .Kp7i2CPPJilK9jzhduhbq {
    font-size: 1rem;
  }
}

._2kesAMNGVVSkplETngy4az {
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
  margin: 7px 30px;
  text-align: center;
  padding-bottom: 5px;
}

@media (min-width: 500px) {
  ._2kesAMNGVVSkplETngy4az {
    font-size: 1rem;
  }
}

._1zPRfyQO2RwFsDemv3_yb3 {
  position: relative;
  margin: 10px auto 10px;
  width: 90%;
}

.OQCBnC0TvJGtsMye9xLvs {
  width: 100%;
  font-size: 1.5rem;
  background: none;
  border-bottom: 2px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none; /*test */
  box-shadow: 0px 0px 1px 0px #888888;
  border-radius: 25px;
  line-height: 45px;
  text-align: center;
}

.-J4XW4Wc7D2woAH1ZK1qO {
  position: absolute;
  top: 12px;
  right: 20px;
  height: 25px;
  width: 25px;
  fill: grey;
}
.OQCBnC0TvJGtsMye9xLvs:focus + .-J4XW4Wc7D2woAH1ZK1qO {
  fill: #ffffff;
}

@media (min-width: 500px) {
  ._1zPRfyQO2RwFsDemv3_yb3 {
    width: 50%;
  }
}

.sc1rWWTa95UM1Dfah2aON {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._2yvDuW5wMOGBH775I6QiRO {
  margin: 6px;
  padding: 12px 0px;

  border: 2px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 1px 0px #dedede;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

._1lhWeD_QkXuLeG9qoCh7qG {
  box-shadow: 0px 0px 3px 0px #dedede;
  border: 3px solid #40a4c8;
  border-top: none;
  border-left: none;
  border-right: none;
}

/*desktop only*/

@media (min-width: 500px) {
  ._2yvDuW5wMOGBH775I6QiRO:hover {
    border-bottom-width: 3px;
    /* border-color: #40a4c8; */
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

._35qDQqMehZbGZKpPmlUD06 {
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px #dedede;
}

._3zwSa-BKerfzi2RwMfqMfS {
  margin: 0px;
  padding: 0;
}

