.SearchContainer {
  position: relative;
  margin: 10px auto 10px;
  width: 90%;
}

.SearchBar {
  width: 100%;
  font-size: 1.5rem;
  background: none;
  border-bottom: 2px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none; /*test */
  box-shadow: 0px 0px 1px 0px #888888;
  border-radius: 25px;
  line-height: 45px;
  text-align: center;
}

.SearchBarIcon {
  position: absolute;
  top: 12px;
  right: 20px;
  height: 25px;
  width: 25px;
  fill: grey;
}
.SearchBar:focus + .SearchBarIcon {
  fill: #ffffff;
}

@media (min-width: 500px) {
  .SearchContainer {
    width: 50%;
  }
}
