.Banner {
  background: black;
  color: white;
  padding: 30px 40px 30px;
  /* font-family: 'IBM Plex Sans', sans-serif; */
}

.BannerTitle {
  font-size: 3.2rem;
  font-weight: 400;
}

.BannerSubtitle {
  color: gainsboro;
}

a {
  color: white;
  text-decoration: underline;
}
